# LOOPS

Write a program using loops to answer the following:
c = [6, 10, 20, 5, 3, 2, 1]
# 1.  sum of c
# 2. max value in c
# 3. min value in c

In [1]:
c = [6, 10, 20, 5, 3, 2, 1]
#use loop to obtain the sum of c
r = 0
for i in c:
    r = i + r
print(r)

47

In [3]:
#use loop to obtain max value
d = c[0]
for i in c:
    if i > d:
        d = i
print(d)

20

In [5]:
#use loop to obtain  min values
d =c[0]
for i in c:
    if i < d:
        d = i
print(d)

1

In [26]:
#Alternatively
c.sort()
r = 0
for i in c:
    r= r + i
    sum_r = r
print(sum)

47

In [22]:
#obtaining the standard deviation of c
#std_dev = (sum_mean - x_value)**2/len(c)

In [25]:
mean_value = round(r/len(c), 3)    #r is the sum of c
mean_value

6.714

In [113]:
variance_v = round(((sum_r - mean_value)**2)/len(c), 3)

variance_v

231.852

In [119]:
std_dev = (variance_v)**1/2 

std_dev

115.926

# Assignment 3
#u = [6, 8, 9, 1]
#b = [100, 0.77, 54, 67]
#find the difference of the standard deviation

In [32]:
#finding the difference of two list by converting into an array

u = [6, 8, 9, 1]
b = [100, 0.77, 54, 67]
if len(u) == len(b):
    diff_values = []
    for i in range(0, len(b)):
        diff = b[i] - u[i]
        diff_values.append(diff)
    print(diff_values)

else:
    print('the length of the array is not equal')

[94, -7.23, 45, 66]

In [39]:
#finding the sum of resultant difference with a loop
r = 0
for j in diff_values:
    r = round((r + j), 3)
print('sum of diff_values : ', r)

sum of diff_values :  197.77

In [40]:
#obtaining the mean
mean_diff =round(r/len(diff_values), 3) 
print(mean_diff)

49.443

In [48]:
#calculating for variance and std_deviation
array_val = []
for  k in diff_values:
    sum_mean = round((mean_diff - k )**2, 3)
    array_val.append(sum_mean)
#print(array_val)    


    
var_val = round(sum_mean/len(diff_values), 3 )
std_dev =(var_val)**(1/2)
print('variance: ', var_val)
print('Standard Deviation: ', std_dev)

variance:  68.534
Standard Deviation:  8.278526438926194

# Assisgnment 2:

In [3]:
list_values = [[1, 2, 3],
               [4, 5, 6],
               [9, 4, 7]]              
#Obtain the diagonal members [3, 5,9]

In [4]:
print(list_values)

[[1, 2, 3], [4, 5, 6], [9, 4, 7]]

In [5]:

for i in list_values:
    new_array = []
    for j in range(0, len(list_values)):
        new_array.append(i[j])
    print(new_array)

[1, 2, 3]
[4, 5, 6]
[9, 4, 7]

In [6]:
for n in range(0, len(list_values)):
    print(list_values[n][n])

1
5
7

In [25]:
for n in range(0, len(list_values)):
     j= -n-1
     a = list_values[n][j]
     #print(j)
     print(a)

3
5
9

# Assignment 1: whats the difference between the split() and rsplit() methods

the rsplit() method is same as split() method that splits a string from the specified seperator and returns a list object with string elements, Note that : the default seperator is any whitespace such as 'space', \t, \n etc
    
    the visible difference between split and rsplit is when the maxsplit parameter is specified. if the maxsplit parameter is specified, then the rsplit() method start splitting a string  from the right side (from the last character), whereas the split() method normally starts spliting from the left
    
    Syntax
    str.rsplit(seperator, maxsplit)
    
    where :
  1.  seperator (is Optional) defines sharing of a delimiter string, the default seperator is any whitespace, \t, \n
  2. maxsplit defines the maximum number of splits that can be done, thus, the maxsplit  can contain at most maxsplit + 1 elements. note : the default maxsplit is -1 that means unlimite

In [94]:
#Exaamples
my_str ='Hello Michael'
print(my_str.rsplit())

['Hello', 'Michael']

In [95]:
print('Hello   Michael'.rsplit())

['Hello', 'Michael']

In [96]:
print('Hello\tWorld'.split())

['Hello', 'World']

In [98]:
print('Hello\nU2012set\nWorld'.rsplit())

['Hello', 'U2012set', 'World']

In [100]:
langs = 'C,Python,R,Ruby,Java,SQL,JavaScript,Hadoop'
print(langs.rsplit(','))


fruits = 'apples$Banana$mango$pawpaw$guava'
print(fruits.rsplit('$'))

['C', 'Python', 'R', 'Ruby', 'Java', 'SQL', 'JavaScript', 'Hadoop']
['apples', 'Banana', 'mango', 'pawpaw', 'guava']

In [110]:
#inserting maxsplit, to set limits,
#NOTE: the spliting for rsplit(),  starts from the right  and is based on the designated limit



langs = 'C,Python,R,Ruby,Java,SQL,JavaScript,Hadoop'
print(langs.rsplit(',', 3))

['C,Python,R,Ruby,Java', 'SQL', 'JavaScript', 'Hadoop']

In [111]:
fruits = 'apples$Banana$mango$pawpaw$guava'
print(fruits.rsplit('$', 2))

['apples$Banana$mango', 'pawpaw', 'guava']

In [112]:
#NOTE: the spliting for split(), starts from the right  and is based on the designated limit

u2012set = 'Nancy@Terry@Pope@Otiekwu@Sabastine@Esse'
print(u2012set.split('@', 3))

['Nancy', 'Terry', 'Pope', 'Otiekwu@Sabastine@Esse']

In [2]:

u = ["mike", "kolawale", "jumbo", "crazvilejake"]

In [3]:
#count the length of every string 
j =[]
for i in u:
    b = len(i)
    j.append(b)
print(j)

[4, 8, 5, 12]

In [4]:
#fining maiximum an minmum values
j.sort()
max_val = j[-1]
min_val =j[0]
print(max_val)
print(min_val)

12
4

In [5]:
#conervting to ictionary
combine = dict(zip(u,j))
print(combine)

{'mike': 4, 'kolawale': 5, 'jumbo': 8, 'crazvilejake': 12}

In [17]:
p = ["john", 55.5, 10.0,"lemmy", "pogba", 5, 22, "leo"]
num_vals = []
str_vals = []
for i in p:
    if isinstance(i, int):
        num_vals.append(i)
        
    elif isinstance(i, float):
        num_vals.append(i)
    
    elif isinstance(i, str):
        str_vals.append(i)
print(num_vals)
print(str_vals)

[55.5, 10.0, 5, 22]
['john', 'lemmy', 'pogba', 'leo']

In [19]:
combine = dict(zip(str_vals, num_vals))
print(combine)

{'john': 55.5, 'lemmy': 10.0, 'pogba': 5, 'leo': 22}

In [1]:
import numpy as np
np.array([True, 1, 2]) + np.array([3, 4, False])

array([4, 5, 2])

In [2]:
np.array([4, 3, 0]) + np.array([0, 2, 2])

array([4, 5, 2])